body{
    background-color: #2c2c2c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
header{
    height: 120px;
    background-color:#2e2d2c;
    width: 100% !important;
}
header h1{
    text-align: center;
    color: white;
}
ul {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
section{ 
    padding: 1%;
}
#admin{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
h2 {
    width: 100%;
}
select{
    margin: 1%;
}
input{
    margin: 1%;
}
.formAdmin{
    flex-direction: column;
    display: flex;
    
}
.divProd{
    width: 50%;
}
.inputProd{
    height: fit-content;
    width: max-content;
}
#secCat{
    background-color: #2c2c2c;
    height:50vh;
    width: 45%;
    justify-content: center;
    text-align: center;
    
}
#secSubCateg{
    background-color: #2c2c2c;
    height:50vh;
    width: 45%;
    justify-content: center;
    text-align: center;
    
}
#secProd{
    background-color: #2c2c2c;
    height:50vh;
    width: 45%;
    justify-content: center;
    text-align: center;
    
}
#secUser{
    background-color: #2c2c2c;
    height:50vh;
    width: 45%;
    justify-content: center;
    text-align: center;
    
}
#artCategCreat{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#artCategUpdate{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#updateCateg{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#createSubCat{
    background-color:#828181;
    height: 50%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#deleteSubCat{
    background-color:#828181;
    height: 50%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#artaddProd{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#updateProd{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#artUpdateImg{
    background-color:#828181;
    height: 33%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#deleteUser{
    background-color:#828181;
    height: 50%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#modUser{
    background-color:#828181;
    height: 50%;
    border: 1px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1080px) {
    body{
        background-color: #2c2c2c;
    }
    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    header{
        background-color:#2e2d2c;
        height: 5% !important;
        width: 100% !important;
    }
    header h1{
        text-align: center;
        color: white;
    }
    ul {
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: white;
    }
    .search{
        display: flex;
        justify-content: flex-end;
        margin-top: 2%;
    }
    section{ 
        padding: 1%;
    }
    #admin{
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }
    h2 {
        width: 100%;
        margin: 0;
    }
    select{
        margin: 1%;
    }
    input{
        margin: 1%;
    }
    .formAdmin{
        flex-direction: column;
        display: flex;
        
    }
    .divProd{
        width: 50%;
    }
    .inputProd{
        height: fit-content;
        width: max-content;
    }
    #secCat{
        background-color: #2c2c2c;
        height:75vh;
        width: 45%;
        justify-content: center;
        text-align: center;
        
    }
    #secSubCateg{
        background-color: #2c2c2c;
        height:75vh;
        width: 45%;
        justify-content: center;
        text-align: center;
        
    }
    #secProd{
        background-color: #2c2c2c;
        height:75vh;
        width: 45%;
        justify-content: center;
        text-align: center;
        
    }
    #secUser{
        background-color: #2c2c2c;
        height:75vh;
        width: 45%;
        justify-content: center;
        text-align: center;
        
    }
    #artCategCreat{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artCategUpdate{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #updateCateg{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #createSubCat{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #deleteSubCat{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artaddProd{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #updateProd{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artUpdateImg{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #deleteUser{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #modUser{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (min-width: 360px) and (max-width: 425px) {
    body{
        background-color: #2c2c2c;
    }
    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    header{
        height: 120px;
        background-color:#2e2d2c;
    }
    header h1{
        text-align: center;
        color: white;
    }
    ul {
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: white;
    }
    .search{
        display: flex;
        justify-content: flex-end;
        margin-top: 2%;
    }
    section{ 
        padding: 1%;
    }
    #admin{
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }
    h2 {
        width: 100%;
        margin: 0;
    }
    select{
        margin: 1%;
    }
    input{
        margin: 1%;
    }
    .formAdmin{
        flex-direction: column;
        display: flex;
        
    }
    .divProd{
        width: 50%;
    }
    .inputProd{
        height: fit-content;
        width: max-content;
    }
    #secCat{
        background-color: #2c2c2c;
        height:75vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        
        
    }
    #secSubCateg{
        background-color: #2c2c2c;
        height:50vh;
        width: 100%;
        justify-content: center;
        text-align: center;
    
        
    }
    #secProd{
        background-color: #2c2c2c;
        height:100vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        
    }
    #secUser{
        background-color: #2c2c2c;
        height:50vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        
        
    }
    #artCategCreat{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artCategUpdate{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #updateCateg{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #createSubCat{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #deleteSubCat{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artaddProd{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #updateProd{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #artUpdateImg{
        background-color:#828181;
        height: 33%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #deleteUser{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #modUser{
        background-color:#828181;
        height: 50%;
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}