main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#secCat{
    width: 100%;
    justify-content: center;
    text-align: center;
}
#secSubCateg{
    width: 100%;
    justify-content: center;
    text-align: center;
}
#secProd{
    width: 100%;
    justify-content: center;
    text-align: center;
}
#artCategCreat{
    border: 1px solid;
}
#artCategUpdate{
    border: 1px solid;
}
#updateCateg{
    border: 1px solid;
}
#createSubCat{
    border: 1px solid;
}
#deletedSubCat{
    border: 1px solid;
}