@media (min-width: 1181px){
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #2e2d2c;
}
header{
    height: 120px;
    background-color:#2e2d2c;
}
header h1{
    text-align: center;
    color: white;
}
ul {
    
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.article h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 50px;
}
.desc {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 50px;
}
.article2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
@media(min-width: 466px) and (max-width: 1180px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        height: 100vh;
        background-color: #2e2d2c;
    }
    header{
        height: 120px;
        background-color:#2e2d2c;
    }
    header h1{
        text-align: center;
        color: white;
    }
    ul {
        
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: white;
    }
    img{
        width: 50%;
        height:50%;
    }
    .search{
        display: flex;
        justify-content: flex-end;
        margin-top: 2%;
    }
    
    .article h1{
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 50px;
    }
    .desc {
        text-align: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 50px;
    }
    .article2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}