*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #2e2d2c;
}
header{
    height: 120px;
    background-color:#2e2d2c;
}
header h1{
    text-align: center;
    color: white;
}
ul {
    
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.test{
    color:white;
}