html {
    max-width: 425px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    max-width: 425px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body a {
    
    color: rgb(255, 255, 255);
    height: auto;
}

.produit {
    width: 100%;
}

.home {
    width: 100%;
    height: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau a{
    height: 301.31px;
}
.home h2:nth-child(1) {
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau {
height: 46%;
   
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau img{
width:100%;
height: fit-content;
 border: 1px solid whitesmoke;
filter: blur(8px);
-webkit-filter: blur(8px);
transition: background-image 0.3s, background-color 0.3s, filter 0.3s
}
.couteau:hover h2{
    opacity:0% ;
}
.couteau:hover img{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

header{
    color:white;
}
.bg-light{
    background-color: #2c2c2c;
}
.home h2:nth-child(n+2) {
    position: absolute;

    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessoire a{
    height: 301.31px;
}
.accessoire {
    height: 46%;
    
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
}
.accessoire img{
    border: 1px solid whitesmoke;
    width:100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: background-image 0.3s, background-color 0.3s, filter 0.3s
    }

    .accessoire:hover h2{
        opacity:0% ;
    }
    .accessoire:hover img{
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }