@media (max-width: 425px)  {
  html {
    max-width: 425px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    max-width: 425px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body a {
    
    color: rgb(255, 255, 255);
    height: auto;
}

.produit {
    width: 100%;
}

.home {
    width: 100%;
    height: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau a{
    height: 301.31px;
}
.home h2:nth-child(1) {
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau {
height: 46%;
   
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.couteau img{
width:100%;
height: fit-content;
 border: 1px solid whitesmoke;
filter: blur(8px);
-webkit-filter: blur(8px);
transition: background-image 0.3s, background-color 0.3s, filter 0.3s
}
.couteau:hover h2{
    opacity:0% ;
}
.couteau:hover img{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

header{
    color:white;
}
.bg-light{
    background-color: #2c2c2c;
}
.home h2:nth-child(n+2) {
    position: absolute;

    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessoire a{
    height: 301.31px;
}
.accessoire {
    height: 46%;
    
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
}
.accessoire img{
    border: 1px solid whitesmoke;
    width:100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: background-image 0.3s, background-color 0.3s, filter 0.3s
    }

    .accessoire:hover h2{
        opacity:0% ;
    }
    .accessoire:hover img{
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}
@media (min-width: 1181px){
  *{
      margin: 0;
      padding: 0;
  }
  body{
      height: 100vh;
      background-color:#2e2d2c;
     
  }
  .border{
    margin-top: 2%;
    border: 1px solid white;
    margin: 2%;
    
  }
  header{
      height: 120px;
      background-color:#2e2d2c;
  }
  header h1{
      text-align: center;

  }
  ul {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      list-style: none;
  }
  ul li a{
      text-decoration: none;
      
  }
  .search{
      display: flex;
      justify-content: flex-end;
      margin-top: 2%;
  }
  .home{
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
.couteau,.produit,.accessoire{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .couteau a ,.accessoire a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .couteau h2 ,.accessoire h2 ,.produit h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size:50px;
    letter-spacing :15px;
    text-align: center;
  }
  .produit img,.accessoire img,.couteau img{
    height: 50vh;
    width: 150vh;
    /* margin-left: 15%;
    margin-top: 3%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
  .home h2:nth-child(1) {
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .home h2:nth-child(n+2) {
    position: absolute;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accessoire img,.couteau img,.produit img{
    border: 1px solid whitesmoke;
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: background-image 0.3s, background-color 0.3s, filter 0.3s
    }
  
    .accessoire:hover h2{
        opacity:0% ;
    }
    .accessoire:hover img,.couteau:hover img,.produit:hover img{
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
  
    }  