*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color:#2e2d2c;
}
header{
    height: 120px;
    background-color:#2e2d2c;
}
header h1{
    text-align: center;
    color: white;
}
ul {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.home{
    margin-top: 3%;
}
.home h2{
    text-align: center;
}
.couteau{
  height: 550px;
  background-image: url("../images/damien.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}
.couteau h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing :15px
}
  